/*------------------------------Import Fonts----------------------------------*/
@font-face {
    font-family: 'vollkornsemibold';
    src: url('../fonts/vollkorn-semibold-webfont.eot');
    src: url('../fonts/vollkorn-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vollkorn-semibold-webfont.woff2') format('woff2'),
         url('../fonts/vollkorn-semibold-webfont.woff') format('woff'),
         url('../fonts/vollkorn-semibold-webfont.ttf') format('truetype'),
         url('../fonts/vollkorn-semibold-webfont.svg#vollkornsemibold') format('svg');
	font-weight: normal;
    font-style: normal;
}

/* --------------------------------Typo---------------------------------------*/
h1 {
  font-size: 4.5em;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  line-height: 1.17em;
}
h2{
  color: #fff;
  font-size: 2.5em;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
h3{
  color: #292929;
  font-size: 2.5em;
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
}
h4{
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: 'vollkornsemibold';
  color: #666;
}
p{
  line-height: 1.5em;
  color: #666;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  hyphens: auto;
}
.lead-text{
  font-size: 1.4em;
  color: #666;
  font-family: 'Exo 2', sans-serif;
}
.zwischentitel{
  text-align: left;
  margin-top: 50px;
}
.galerie-überschrift{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  width: 70%;
  display: inline-block;

}
/* ------------------------------General--------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  line-height: 1.5;
}
@-o-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@viewport {width: device-width;}

.clear {
	clear: both;
}
.space{
  height: 50px;
}
.col-1{
	width: 16.666%;
	float: left;
}
.col-2{
	width: 33.333%;
	float: left;
}
.col-3{
	width: 50%;
	float: left;
}
.col-4{
	width: 66.666%;
	float: left;
}
.col-5{
	width: 83.333%;
	float: left;
}
.col-6{
	width: 100%;
	float: left;
}
.col-7{
	width: 25%;
	float: left;
}
.col-8{
	width: 75%;
	float: left;
}

/* -------------------------------Header--------------------------------------*/
.header-outdoor{
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: #fff;
  z-index: 20;
  display: block;
}
.header-inner{
  float: left;
  width: 100%;
  padding: 0 50px;
  padding-top: 10px;
  position: relative;
}
.logo-holder{
  position: absolute;
  top: 10px;
  left: 50px;
  width: 100%;
  height: 50px;
}
.logo-holder a img{
  float: left;
  max-height: 40px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.nav-holder{
  float: right;
  position: relative;
}
nav{
  position: relative;
  float: left;
  width: 100%;
  top: 10px;
  display: block;
}
.nav-holder nav ul {
	list-style: none;
	padding-left: 0px;
}
nav li{
  float:left;
  position:relative;
}
nav li ul {
  margin: 30px 0 0 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  max-width: 100%;
  min-width:200px;
  top: 30px;
  left: 0;
  z-index: 1;
  background: #fff;
  transition: all .2s ease-in-out;
}
nav li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
  z-index: 1;
}
nav li ul li ul {
  top: 0;
  left: -100%;
}
nav li ul li:hover  > ul  {
  opacity: 1;
  visibility: visible;
  right: 100%;
}
nav li ul li {
  float: none;
  display: block;
  border: 0;
}
nav li a{
  float: left;
  padding: 10px 22px;
  line-height: 1;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #666;
  top: 0;
  position: relative;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
  text-align: left;
  width: 100%;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  text-decoration: none;
}
nav li a.act-link:before {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  background:#292929;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
  z-index:-1;
}
nav li a.act-link {
  color: #fff;
}
nav li a.act-link:hover  {
  color:#000;
}
nav li a:hover {
  color:#ccc;
}
nav li a.act-link:hover:before {
  height:0;
}
nav li ul a:before  {
  display:none;
}
nav li ul a.act-link,nav li ul li a.ancestor-act-link,nav li ul li a.parent-act-link {
  color:#000;
  font-weight:600;
}
.nav-button-holder {
  float:right;
  border-left:1px solid rgba(255,255,255,0.4);
  margin:0 0 0 10px;
  padding-left:22px;
  display:none;
}
.nav-button {
  float:right;
  width:30px;
  height:24px;
  position:relative;
  margin-top:9px;
  cursor:pointer;
}
.nav-button span {
  float:left;
  width:100%;
  height:4px;
  background:#333;
  margin-bottom:2px;
  position:relative;
}
#event a.act-link:before{
  background:#c94947;
}

/* --------------------------------Loader-------------------------------------*/
.loader {
  position: fixed;
  top: 50% !important;
  left: 50%;
  width: 50px;
  height: 50px;
  z-index: 100;
  margin-left:-25px;
}
.tm-loader,
.tm-loader #circle{
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: none;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}
.tm-loader {
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation:preloader-outer 1.5s ease infinite;
  -moz-animation:preloader-outer 1.5s ease infinite;
  -o-animation:preloader-outer 1.5s ease infinite;
  animation:preloader-outer 1.5s ease infinite;
}
.tm-loader #circle{
  -webkit-animation:preloader 3s ease infinite;
  -moz-animation:preloader 3s ease infinite;
  -o-animation:preloader 3s ease infinite;
  animation:preloader 3s ease infinite;
}
.tm-loader #circle{
  border: 2px solid  #ccc;
}
.tm-loader #circle   {
  border-bottom: 2px solid #000;
}

@-webkit-keyframes preloader-outer{
  from { opacity: 1;  -webkit-transform: rotate( 0deg ); }
  to   { opacity: 1;  -webkit-transform: rotate( 360deg ); }
}
@keyframes preloader-outer{
  from { opacity: 1;  transform: rotate( 0deg ); }
  to   { opacity: 1;  transform: rotate( 360deg ); }
}
@-webkit-keyframes preloader{
  0% { opacity: 0.3; }
  50%  { opacity: 1; }
  100% { opacity: 0.3; }
}
@keyframes preloader{
  0% { opacity: 0.3; }
  50%  { opacity: 1; }
  100% { opacity: 0.3; }
}

/* ----------------------------Content Styles---------------------------------*/
#main {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#wrapper{
  height:100%;
  margin-left:0;
  vertical-align:top;
  position: absolute;
  left:0;
  top:0;
  right:0;
  z-index:3;
  width:100%;
}
.inner-wrapper{
  width: 70%;
  margin: 0 auto;
}
.transition{
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.content-holder{
  vertical-align: top;
  position: absolute;
  left:0;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  padding:50px;
}
.content {
  width:100%;
  position:relative;
  z-index:2;
  float:left;
}
.full-height {
  height:100%;
}
.bg {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.teaser{
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  z-index: 5;
  display: table;
  margin: 0 auto;
}
.logo{
  position: relative;
  z-index: 10;
  width: 25%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  margin: 0 auto;
}
.heading{
  display: table;
  color: rgb(255, 255, 255);
  font-family: 'Exo 2', sans-serif;
  background-color: rgba(37, 37, 38, 0.75);
  padding: 25px;
  animation-name: generate-h3;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
@keyframes generate-h3 {
  0%    {opacity: 0;}
  50%   {opacity: 0;}
  100%  {opacity: 1;}
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3 !important;
  z-index: 2;
}
#btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  z-index: 10;
}
#btn-link{
  font-size: 3.5em;
  background-color: #c94947;
  border: solid 1px #c94947;
}
#btn-link:hover{
  color: #fff;
  background: #d7796e;
  border: solid 1px #d7796e;
}
section{
  float: left;
  width: 100%;
  position: relative;
}
section h2 a{
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
section h2 a:hover{
  color: #b5b5b5;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tower-image{
  float: left;
  width: 100%;
  padding: 180px 0;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.small-padding{
  padding: 120px 0;
}
.tower-image .bg {
  width:105%;
  left:-5%;
  height:105%;
  /*top:-5%;*/
}
.container{
  max-width: 1024px;
  width: 92%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.separator{
  background: none;
  width: auto;
}
.article_column{
  float: left;
  position: relative;
  z-index: 9;
  background-position: center;
  background-size: cover;
}
.img_wrap{
  display: inline-block;
  position: relative;
  max-width: 100%;
}
.info_button{
  position: relative;
  padding: .3em 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #c94947;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #fff;
  display: inline-block;
  margin-left: 25px;
  border: 1px solid #c94947;
}
.info_button:hover{
  background: none;
  color: #c94947;
  border: 1px solid;
  -webkit-transition:all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}
.section-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
}
#contact::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  height: 50px;
  z-index: 20;
}
.section-text{
  float: right;
  width: 60%;
  position: relative;
  background: #292929;
  padding: 50px 0;
}
.inner-text{
  padding: 50px 0;
  width: 85%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  text-align: left;
}
.inner-text h4{
  color: #fff;
  font-size: 2.5em;
}
.inner-text p{
  color: #fff;
  margin-top: 15px;
  font-weight: 200;
}
.image-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.teaser-box{
	padding-left: 5px;
	padding-right: 5px;
}
.box-layout{
	width: 100%;
	height: 330px;
	margin-top: 10px;
	-webkit-transition: all .3s;
	transition: all .3s;
	background: #2f3443;
	overflow: hidden;
	position: relative;
}
.teaser-box-three{
	float: right;
}
.teaser-box-three .box-layout{
	height: 670px;
}
.teaser-box-five .box-layout{
  height: 670px;
}
figure.effect-box img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  height: 100%;
}
.content-margin{
  margin-top: 50px;
  margin-bottom: 100px;
}
.content-margin p{
  margin: 0 auto;
  text-align: justify;
}
#fake-news-facts{
  margin-top: 25px;
  width: 100%;
}
.info-launch{
  margin: 50px 0;
}
.rectangle-1{
  background-color: rgba(3, 50, 67, 1);
  z-index: 2;
  padding: 250px 200px 50px 100px;
  position: relative;
  width: 60%;
  left: 10%;
  -webkit-box-shadow: -30px 28px 93px 6px rgba(0,0,0,0.37);
  -moz-box-shadow: -30px 28px 93px 6px rgba(0,0,0,0.37);
  box-shadow: -30px 28px 93px 6px rgba(0,0,0,0.37);
}
.rectangle-2{
  background-color: rgba(201, 73, 71, 0.8);
  z-index: 3;
  position: relative;
  -webkit-box-shadow: -30px 28px 93px 6px rgba(0,0,0,0.37);
  -moz-box-shadow: -30px 28px 93px 6px rgba(0,0,0,0.37);
  box-shadow: -30px 28px 93px 6px rgba(0,0,0,0.37);
  width: 65%;
  padding: 100px 150px 50px 100px;
  left: 20%;
  top: -200px;
}
.rectangle-2 h3{
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 1);
	padding-bottom: 40px;
	text-align: left;
}
.rectangle-2 p{
	color: #fff;
	text-align: left;
	font-size: 1.3em;
}
.event-text{
	margin: -125px 0 50px;
}
.event-text p{
	width: 75%;
    margin: 0 auto;
    text-align: center;
}
.anmeldung{
	padding: 50px 0;
}
.formular ul li{
	list-style: none;
	margin-top: 20px;
	overflow: hidden;
}
.formular label{
	display: block;
	font-size: 0.7em;
	letter-spacing: .1em;
	font-family: 'Exo 2', sans-serif;
	color: #606772;
	text-transform: uppercase;
	margin-bottom: 6px;
	text-align: left;
}
.col-form{
	padding-right: 10px;
}
.formular .form-item{
	width: 100%;
	background-color: #fafafa;
	color: #494e56;
	font-family: 'Exo 2', sans-serif;
	font-size: 0.9rem;
	padding: 15px 14px;
	border: 1px solid #cecece;
	border-radius: 3px;
	height: 48px;
	margin-bottom: 20px;
	outline: none;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}
.formular input[type=text]:focus,
.formular input[type=date]:focus,
.formular input[type=datetime]:focus,
.formular input[type=number]:focus,
.formular input[type=search]:focus,
.formular input[type=time]:focus,
.formular input[type=url]:focus,
.formular input[type=email]:focus,
.formular textarea:focus{
    border: 1px solid #c94947;
}
.formular .form-item:hover{
	border-color: #a8a8a8;
}
.form-required{
	color: #c94947;
}
.formular input[type=number]::-webkit-inner-spin-button,
.formular input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.check-group input[type='checkbox'] {
  opacity: 0;
  z-index: -1;
	position: absolute;
  left: 0;
}
.radio-container {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  clear: both;
  float: left;
  display: table !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 50px !important;
}
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
#radio-selection p{
  text-align: left;
  margin-left: 25px;
  float: left;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
	border: 1px solid #c94947;
}

.radio-container input:checked ~ .checkmark {
  background-color: #c94947;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.check-group input[type='checkbox']+label {
  width: 25px;
  height: 25px;
  display: table;
  position: relative;
	float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #c94947;
  cursor: pointer;
}
.check-group input[type='checkbox']#checkbox-a+label, #checkbox-b+label {
  border: 1px solid #c94947;
  background: transparent;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
}

.check-group input[type='checkbox']#checkbox-a:checked+label, #checkbox-b:checked+label {
  border: 1px solid #c94947;
  background: #c94947;
}
.check-group p{
	text-align: left;
	margin-left: 50px;
}
.form-button{
	display: block;
	cursor: pointer;
	font-family: 'Exo 2', sans-serif;
	font-size: 0.9rem;
	line-height: 1rem;
	letter-spacing: .1em;
	color: #fff;
	text-transform: uppercase;
	padding: 16px 20px;
	background-color: #c94947;
	border: 0 none;
	border-radius: 3px;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
	margin: 0 auto;
	width: 150px;
	margin-top: 50px;
  margin-bottom: 50px;
}
.form-button:hover{
	background: #d7796e;
}
.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
}

.accordion-item {
  margin-bottom: 5px;
}

.accordion-header {
  background-color: #c94947;
  padding: 10px 25px;
  cursor: pointer;
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  text-align: left;
}

.accordion-content {
  display: none;
  padding: 25px;
  background-color: #f4f4f4;
}

.accordion-item.active .accordion-content {
  display: block;
}
/* -----------------------------Fixed Title-----------------------------------*/
.fixed-title  {
  position: fixed;
  width: 220px;
  height: 100px;
  top: 50%;
  margin-top: 125px;
  letter-spacing: 0.17em;
  font-size:12px;
  text-transform: uppercase;
  margin-left:-54px;
  line-height:50px;
  text-align: center;
  cursor: default;
  overflow:hidden;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  z-index:12;
}
.fixed-title h1 {
  position:relative;
  z-index:3;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
  color:#fff;
  font-size: inherit;
  line-height:inherit;
}
.fixed-title:after {
  content:'';
  position:absolute;
  bottom:46px;
  left:0;
  z-index:2;
  width:100%;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
  height:160px;
  background:#c94947;
}
.fixed-title:hover:after {
  height:0;
}
.fixed-title:hover h1 {
  color:#666;
}
.left-decor , .right-decor {
  position:fixed;
  width:50px;
  height:100%;
  background:#fff;
  z-index:1;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}
.left-decor {
  left:0;
}
.right-decor {
  right:0;
}
.left-decor:before , .right-decor:before , .left-decor:after , .right-decor:after {
  content:'';
  position:absolute;
  width:30px;
  left:10px;
  height:1px;
  background:#c9c9c9;
}
.left-decor:before , .right-decor:before {
  top:70px;
}
.left-decor:after , .right-decor:after {
  bottom:50px;
}

/* --------------------------------Slider-------------------------------------*/
.slider {
  height: 100%;
}
.slide_viewer {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}
.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}
.slide:first-child {
  display: block;
}
.slide:nth-of-type(2) {
  background: #F4E4CD;
}
.slide:nth-of-type(3) {
  background: #C75534;
}
.slide:nth-of-type(4) {
  background: #D1D1D4;
}
.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  bottom: 0;
}
a.slide_btn {
  color: rgba(255, 255, 255, 0.5);
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.slide_btn.active, .slide_btn:hover {
  color: #c94947;
  cursor: pointer;
}
.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
}
.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}
.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}
.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}
.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}
/* --------------------------------Footer-------------------------------------*/
footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:50px;
  background:#fff;
  z-index:15;
  padding:0 50px;
  line-height:50px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
}
.policy-box {
  float:left;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #666;
}
.policy-box span {
  float:left;
}
.policy-box ul {
  position:relative;
  float:left;
  padding-left:20px;
  list-style: none;
}
.policy-box ul li {
  float:left;
  position:relative;
  padding-left:40px;
}
.policy-box ul li:before {
  content:'';
  position:absolute;
  top:50%;
  left:0;
  width:30px;
  height:3px;
  background:#000;
  margin-top:-2px;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.policy-box ul li a {
  padding:0 10px;
  color: #666;
  text-decoration: none;
}
.footer-social {
  padding-top: 10px;
  float:right;
}
.footer-social ul {
	list-style: none;
	padding-left: 0px;
}
.footer-social li {
  float:left;
  margin-left:10px;
}
.footer-social li a {
  float:left;
  width:26px;
  height:26px;
  line-height:28px;
  font-size:9px;
  color: #fff;
  border-radius:100%;
  background:#c94947;
  text-align: center;
}
/* ----------------------------Media Queries----------------------------------*/
@media (min-width: 1036px){
	#gallery-mobile{
		display: none;
	}
}
@media only screen and  (max-width: 1250px) {
  .rectangle-2{
	padding: 50px 100px 25px 50px;
  }
  .rectangle-2 p{
	font-size: 1em;
  }
}
@media only screen and  (max-width: 1036px) {
  .header-inner{
    padding: 0;
  }
  .nav-button-holder{
    padding-right: 50px;
  }
  .nav-holder {
    position:absolute;
    top:70px;
    left:0;
    width:100%;
    background:#f9f9f9;
    padding:30px 0;
    display:none;
    overflow:auto;
  }
  .nav-button-holder  {
    display:block;
  }
  .nav-button {
    margin-top:25px;
  }
  nav ul li, nav ul li ul li , nav li ul li > ul{
    float: left;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    left: 0;
    opacity: 1;
    right: 0;
  }
  nav li ul:last-child, nav li ul li:last-child{
    margin-bottom: 0px;
  }
  nav li a.act-link,nav li a.ancestor-act-link,nav li a.parent-act-link {
    color: #333;
    font-family: 'Exo 2', sans-serif;
	  font-weight: 700;
  }
  nav li ul {
    margin: 0;
    opacity: 1;
    visibility: visible;
    position: relative;
    float: left;
    width:100%;
    display: none;
    top:0;
    left: 0;
    z-index: 1;
    border-bottom:none;
  }
  nav.show-sub-mobile li ul {
    display: block;
  }
  nav li:hover > ul {
    display: block;
  }
  .nav-holder nav li ul {
    padding-left: 20px;
    margin-top: 10px;
  }
  .galerie .col-2, .col-4{
		width: 50%;
	}
  .teaser-box-three .box-layout, .teaser-box-five .box-layout{
		height: 330px;
	}
  #gallery-web{
		display: none;
	}
  .heading{
    font-size: 1.5em;
    margin-left: 0!important;
  }
  #btn-link{
    font-size: 2.5em;
  }
  #movie{
    width: 100%;
  }
}
@media only screen and  (max-width: 950px) {
  .rectangle-2 .col-7{
	width: 40%;
  }
  .rectangle-2 .col-8{
	width: 60%;
  }
}
@media only screen and  (max-width: 756px){
  .left-decor, .right-decor, .policy-box{
    display: none;
  }
  .content-holder{
    padding: 70px 0 50px 0;
  }
  .logo-holder{
    left: 25px;
  }
  .footer-social {
    text-align: center;
    float: none;
  }
  .footer-social li {
    display: inline-block;
    float: none;
  }
  .galerie .col-2, .col-4{
		width: 100%;
	}
  #btn-link{
    font-size: 2em;
  }
  .about-me p{
    width: 90%;
  }
  .about-me h3{
    font-size: 1.5em;
  }
  #fake-news-facts{
    width: 90%;
  }
  .rectangle-2{
	padding: 25px 25px 25px 25px;
	width: 75%;
	left: 15%;
  }
  .rectangle-2 h3{
	font-size: 1.8em;
  }
  .formular .col-2{
	width: 100%;
  }
  .inner-wrapper{
	width: 90%;
  }
}

@media only screen and  (max-width: 500px) {
	.formular .col-3{
	width: 100%;
  }
  .col-form{
	  padding-right: 0;
  }
  .radio-container{
    float: none;
    margin-bottom: 30px !important;
  }
  #radio-selection p{
    margin-bottom: 25px;
    margin-left: 0;
  }
}

@media only screen and  (max-width: 400px) {
  .logo-holder a img{
	max-height: 30px;
  }
  .nav-button-holder{
	padding-right: 25px;
  }
  .rectangle-1{
	padding: 200px 150px 50px 100px;
	width: 85%;
	left: 0px;
  }
  .rectangle-2{
	left: 0px;
	width: 100%;
	top: -150px;
  }
  .info_button{
	font-size: 1em;
  }
}
